:root {
  --bgColor: #f1f3ff;
  --green: rgba(92, 184, 95, 1);
  --green-50: rgba(92, 184, 95, 0.5);
  --primary: #0d28a6;
}

* {
  padding: 0;
  margin: 0;
}

p {
  font-size: 0.875rem;
  margin-bottom: 0 !important;
}

h1,
h2 {
  margin-bottom: 0 !important;
}

.btn-green {
  background-color: var(--green) !important;
}

.btn-green:hover {
  background-color: var(--green-50) !important;
}

.section-pt {
  padding-top: 6.25em;
}

@media only screen and (max-width: 768px) {
  .section-pt {
    padding-top: 3.75em;
  }
}
